{# templates/footer.html.twig #}


<footer class="pt-5">
  <div class="footer">
    <!-- <h5>Features</h5> -->
    <div class="row align-items-center">
      <div class="col-4 lien"><a href="#">Cool stuff</a></div>
      <div class="col-4 lien"><a href="#">Cool stuff</a></div>
      <div class="col-4 lien"><a href="#">Cool stuff</a></div>
    </div>
  </div>
</footer>  
